@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color: #65668c
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url("../images/flag.jpg")
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: white;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color: white;

}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #7e0f12
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #bb010a;
  border: 3px #b9b4b5 solid;
}

nav a {
  margin: 0 35px;
  color: white;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
}
#maincolumn {
  background-color: #2a3178
}
